/* make the  */

.app{
  font-family:  'Poppins', sans-serif;
  /* margin: 2vw 5vw; */
  background-color: #f1f3f2;
  height: 100%;
  width: 100%;
  overflow: scroll;
  position: absolute;
  z-index: -1;
  color : #141414;
}

.dark{
  background-color: #141414;
  color: #f1f3f2;
  transition :  ease-in 1s;
}

.add-margin{
  margin: 0 5vw;
}

.smart{
  width: 100%;
  align-items: center;
  height: 100%;
  color : rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: start;
  mix-blend-mode:overlay;
  font-size: 12vw;
 
  z-index: -1;
  position: absolute;
  bottom: 10vw;
}

.ready{
  top : 10vw;
  align-items: center;
  width: 100%;
  height: 100%;
  color : rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: end;
  mix-blend-mode:overlay;
  font-size: 12vw;
  z-index: -1;
  position: absolute;
}

.dark-mode-nav{
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

.dark-mode-nav nav{
  display: flex;
  flex-direction: column;  
}


.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
}

.navbar nav{
  display: flex;
  flex-direction: column;  
}

.navbar nav a{
  text-decoration: none;
  color: rgb(146, 146, 146);
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 12px;
}

.dark-mode-nav nav a{
  text-decoration: none;
  color: rgb(146, 146, 146);
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 12px;
}

.dark-mode-nav nav a:hover{
  color: #f1f3f2;
}

.dark-mode-nav nav a.active{
  color: #f1f3f2;
}



.navbar nav a:hover{
  color: #141414;
}

.navbar nav a.active{
  color: #141414;
}

.app-download button{
  color: #141414;
  background-color: transparent;
  border: 1px solid #141414;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 5px;
  font-weight: 600;
  font-size: 12px;
}

.dark-mode-download button{
  color: #f1f3f2;
  background-color: transparent;
  border: 1px solid #f1f3f2;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 5px;
  font-weight: 600;
  font-size: 12px;
}

/* .background{
  color: #ffffff;
  font-size: 20VW;
  position: absolute;
   top: 15vw;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 1;
   overflow: hidden;
    margin: 0;
    padding: 0;
} */


.main-top{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  min-height: 80vh;
  margin-top: 10vh;

  z-index: 5;
}

.slogan{
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: end;

}

.slogan h1{
  font-size: 2.2rem;
  font-weight: 500;
  color: #141414;
  margin-bottom: 1vw;
  /* mix-blend-mode: difference; */
  animation: slide 2s ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateY(-100px) scale(0);
  }

  100% {
    transform: translateY(0);
  }
}

.mockup{
  grid-column: 3/5;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;

  transform: scale(1.1);
  animation: phone 2s ease-in-out;
}

@keyframes phone {

  0% {
    /* transform: translateY(-600px);
    transform: scale(0.1); */

    transform: translateY(-600px) scale(0.4);
  }

  50% {
    transform: translateY(-10px) scale(0.7);
  }

  80% {
    transform: translateY(5);
  }

  /* make it bigger */
  100% {
    transform: translateY(0) scale(1.1);
  }
  
}

.main-bottom{
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
  z-index: 1;
  overflow: hidden;
  
}

.main-bottom p{
  font-size: .9rem;
  color: rgb(146, 146, 146);
  margin-top: 1vw;
  margin-right: 15px;
  /* appear from left */
  animation: slide-from-left 1s ease-in-out;
  transition: fade;
  
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
  
}



.toggle{
  font-size: 5rem;
  background-color: transparent;
  padding: 0;
  border: none;
  width: 10px;

  animation: slide 1s ease-in-out;
}

.active{
  color: #0b6af8;
}

.toggle:hover{
  cursor: pointer;
}

.hang-lights{
  position: absolute;
  top: 0;
  left: 5;
  bottom: 0;
  right: 2;
  z-index: -1;
  overflow: hidden;
  margin: 0;
  padding: 0;
  animation: appear 1s ease-in-out;
  
}

/* hang lights animation appear from top */


@keyframes appear{
  0%{
    top: -100px;
  }
  100%{
    top: 0;
  }
}

.about-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  /* margin-top: 10vh; */
  
}

.about-left{
  margin-right: 5vw ;
  min-width:30%;
}

.about-left h3{
  font-size: 1.2rem;
  font-weight: 500;
  /* color: #141414; */
  margin-bottom: 1vw;
}

.about-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-right h2{
  font-size: 1.4rem;
  font-weight: 600;
  /* color: #141414; */
  margin-bottom: 5vh;
}

.about-right p{
  font-size: .8rem;
  font-weight: 600;
}

.media-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 5px;
  flex-wrap: wrap;
}

.speaker, .video{
  height: 400px;
  min-height: 21vw;
}

.banner{
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: end;
  background: linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ), url('./assets/banner.png') no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  padding-top: 7vw;
  padding-bottom: 7vw;
}

.banner-content{
  width: 30%;
}

.banner-content h1{
  color: #f1f3f2;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2vw;
}

.banner-content p{
  color: #f1f3f2;
  font-size: .8rem;
  font-weight: 400;
  margin-right: 2vw;
  margin-bottom: 2vw;
}

.banner-content button{
  color: #f1f3f2;
  background-color: transparent;
  border: 1px solid #f1f3f2;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 5px;
  font-weight: 600;
  font-size: 12px;
}

.products{
  width: 100%;
  margin-top: 100px;
}

.product-title h1{
  text-align: center;
  margin-bottom: 5vw !important;
  font-weight: 400;
  font-size: 2.6rem;
  margin: 0 10vw;
}

.product-cards{
  display: flex;
  overflow-x: scroll;
  justify-content: start;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; 

  cursor: grab;
}

.product-cards::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */  
}

.product-card{
  min-width: 150px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.product-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h4{
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1vw;
}


.footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; 
  grid-gap: 10px;
  margin: 100px 0;
  width: 100%;
}

.footer-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-right: 5vw;
  margin-left: 5vw;
}

.footer-left h1{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1vw;
}

.footer-left p{
  font-size: .7rem;
  font-weight: 400;
  margin-bottom: 2vw;
  margin-right: 3vw;
}

.footer-buttons p{
  font-size: .7rem;
  font-weight: 600;
  margin-bottom: 1vw;
  margin-left: 10px;
}

.footer-buttons button{
  color: #f1f3f2 ;
  background-color: #141414;
  border: 1px solid #141414;
  padding: 6px;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 5px;
  font-weight: 500;
  font-size: 12px;
}

.footer-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  /* width: 50%; */
  margin-right: 5vw;

  }

.footer-right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}



/* mobile screen */

@media screen and (max-width: 768px){
  .app{
    overflow-x: hidden;
  }

  .mockup img{
    width: 70%;
  }
  .main-top{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    margin-bottom: 10vh;
    margin-top: 5vh;
  }

  .background{
    font-size: 10rem;
    text-wrap: wrap;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .dark-mode-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .logo{
    order: -1;
    margin-bottom: 20px;
  }

  .navbar nav a{
    margin: 0px 10px;
  }

  .dark-mode-nav nav a{
    margin: 0px 10px;
  }

  .app-download{
    display: none;
  }

  .dark-mode-download{
    display: none;
  }

  .about-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    
  }

  .media-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .media-right, .media-left{
    display: flex;
    justify-content: center;
  }

  .speaker, .video{
    width: 90%;
    height: auto;
  }

  .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    
  }

  .banner-content{
    width: 80%;
    text-align: center;
  }

  .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
  }

  .footer .app-download{
    display: block;
  }

  .footer-right{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5vw;
  }

  .footer-right img{
    width: 90%;
    height: auto;
  }


}

/* if the screen is bigger than 1200px add margin to the app */
@media screen and (min-width: 1350px){
  .container{
    margin-left: 22vw;
    margin-right: 22vw;
  }
}


.unselectable {
  user-select: none;
  pointer-events: none;
}